
<!DOCTYPE html>
<html>
    <head>
        <title>KGFBHP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="/static/img/site_logo.png">
        <link href="/static/css/canvas.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>

        <div id="wrapper">
            <h1><a href="/kg"><i class="fas fa-home"></i>&nbsp;&nbsp;<i class="fab fa-kickstarter-k"></i><i class="fab fa-gofore"></i></a></h1>
            <h1>高血压知识图谱</h1>
            <h2>高血压 &amp; 知识图谱 &amp; 自然语言处理&nbsp;</h2>
            <p><a href="/kg/search" target="_self"><i class="fas fa-search"></i>&nbsp;&nbsp;进入搜索&nbsp;<i class="fas fa-chevron-right"></i></a></p>
            <p><a href="http://light-city.me" target="_blank"><i class="fas fa-rss"></i>&nbsp;&nbsp;个人Blog&nbsp;<i class="fas fa-chevron-right"></i></a></p>
        </div>
        <canvas id="canvas"></canvas>
        <script src="/static/js/canvas.js"></script>
    </body>
</html>
